src/main/resources/conexion/seguridad.properties
src/main/resources/conexion/campeonato.properties
src/main/resources/conexion/estadisticas.properties
TelosysTools/*.dbrep
TelosysTools/telosys-tools.cfg

target/
build_output/
.classpath
.project
.settings/
.metadata/
logs/
*.log

*.class
*.log
target/

*.jar
*.war
*.ear
hs_err_pid*

Thumbs.db
Desktop.ini